@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Shrikhand&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
    --font-shrikhand: 'Shrikhand', cursive;
    --font-worksans: 'Work Sans', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --sm-boxshadow: 0 0.125rem 0.25rem rgba(21, 21, 21, 0.075) !important;
    --color-yellow: #FFC000;
    --text-shad: 0 12px 0rem rgba(61, 60, 60, 0.066) !important;
    --clr-primary: #1D59FC;
    --clr-white: #fff;
    --clr-light-white: #d1d0d0;
    --light-shadow: 0px 4px 0px 0 rgba(203, 203, 203, 0.341);
    --clr-gray: rgb(104, 104, 104);
}

/* #app{
    background-color: var(--clr-light-white) !important;
} */
* {
    font-family: var(--font-worksans) !important;
    font-size: 100%;
}

body {
    position: relative;
}

a {
    text-decoration: none !important;
}

h4.about-title::first-letter,
h4.about-infos::first-letter {
    font-size: 2rem;
    color: var(--clr-primary);
    padding: 2px 10px;
    border: 1px solid var(--clr-primary);
    border-radius: 4px;
    margin-left: 0.5rem;
}

p {
    text-align: justify !important;
    font-size: 1.07rem;
    font-weight: 400 !important;
    color: var(--clr-gray) !important;
}

/* input::placeholder, textarea::placeholder , select::placeholder{
    color: var(--clr-light-white) !important;
} */
.page-title {
    font-family: var(--font-shrikhand) !important;
    color: var(--clr-primary) !important;
    padding: 0.6rem 1.5rem;
    border: 1px solid var(--clr-primary);
    border-radius: 6px;
    max-width: 25rem;
    width: 100%;
    margin: 1rem auto;
    opacity: 0.8;
    text-align: center;
}

.bi-person-circle {
    font-size: 1.5rem;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-link {
    border: none !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

}

.dropdown-menu.show {
    border: none !important;
    box-shadow: var(--sm-boxshadow);
}

.logo-braine {
    width: 10rem;
}

.title-letter {
    width: 60px;
}
.nav-menu .nav-item{
    width: 100%;
    padding-inline: 0.25rem;
}
.nav-item .nav-link {
    font-size: 1.05rem !important;
    transition: 0.5s ease;  
}
.nav-menu a:is(.active){
    color: var(--color-yellow) !important;
}

.register-link{
    background-color: var(--color-yellow);
    padding: 0.15rem 1rem;
    color: var(--clr-white) !important;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.386);
    border-radius: 0.35rem;
    margin-right: 1rem;
}
.navbar-toggler:focus {
    outline: none !important;
}

.nav-menu .nav-link:hover,
.nav-menu .nav-link:focus{
    color: var(--color-yellow) !important;
}
/* .navbar-expand-md{
    box-shadow: var(--sm-boxshadow);
} */

.post-carousel {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
}

.post-carousel .item {
    scroll-snap-align: start;
}

.about-none {
    display: none !important;
}

.images-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

/**
 * Home page
 */
.hero__section {
    background-color: var(--clr-primary);
    margin-bottom: 5rem;
    border-radius: 0.7rem;
    padding: 2rem 0;
}

.hero__section .col-md-6 {
    display: grid;
    place-content: center;
}

.section__left__content {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.section__left__content h3,
.section__left__content h1 {
    text-shadow: 0 5px 0 rgba(0, 0, 0, 0.075);
    font-size: clamp(2rem, 4vw, 3rem);
}

/**
 * 
 * Swiper container
 */

.mySwiper {
    max-height: 18rem;
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination {
    color: var(--clr-white);
    margin-bottom: -1.05rem !important;
}


.swiper-pagination-bullet {
    background-color: var(--clr-white) !important;
}
/* Welcome to club section */
.welcome-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: clamp(2rem,4vw,3rem);
}
.welcome-img-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-shadow{
    text-shadow: 0 0 5px  rgba(0, 0, 0, 0.344);
}

.welcome-man{
    width: 65%;
    max-width: fit-content;
    margin-bottom: -32px;
    
}
#join-btn{
    animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
/* button join animation */
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-10px);}
	60% {-moz-transform: translateY(-5px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-10px);}
	60% {-o-transform: translateY(-5px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-10px);}
	60% {transform: translateY(-5px);}
}

#widget-btn {
    position: fixed;
    right: -15px;
    top: 50%;
    z-index: 999;
    opacity: 0.5;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
}

#widget-btn:hover {
    opacity: 1;
    right: 0;
    transform: scale(1.050);
}

#back-to-top {
    z-index: 999;
    position: absolute;
    right: 0 !important;
    bottom: 3%;
    transition: all 0.4s ease;
}

#back-to-top:focus {
    outline: none !important;
    box-shadow: none !important;
}
.swiper-pagination-bullet {
    background-color: var(--clr-white) !important;
}

/* Partners area */

.partners-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners-area .partner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners-area .partner {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Social media area */
.social-media-section .social-media {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social-media .social-link {
    font-size: clamp(1.8rem, 4vw, 2rem);
}


.partners-area .partner img {
    max-width: 80%;
}

.col-lg-6 .content {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    flex-direction: column;
}

.col-lg-6 .content.left {
    text-align: left !important;
}

.discover-title-box {
    margin: 0 0 5rem 0 !important;
}

.discover-section .col-lg-6 {
    display: grid;
    place-content: center;
}

.discover-section {
    border-radius: 0.7rem;
    padding: 3rem 0;
}
/* button join animation */
@media screen and (max-width:468px) {
    .welcome-man{
        width: 50%;
        margin-bottom: 10px;
    }

#navbar_top {
    transition: all 0.4s ease;
}




/* ============Scrabble presentation page============== */

}

/* Responsive Table */
@media screen and (max-width:648px) {

    /* ============Agendas Table============== */
    .agenda-table {
        display: grid;
        border-collapse: collapse;
        min-width: 100%;
        grid-template-columns: minmax(9rem, 1fr) minmax(9rem, 1fr) minmax(9.375rem, 1fr) minmax(5rem, 1fr) minmax(5rem, 1fr);
    }

    .agenda-table thead,
    .agenda-table tbody,
    .agenda-table tr {
        display: contents;
    }

    .agenda-table th,
    .agenda-table td {
        padding: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .agenda-table th {
        position: sticky;
        text-align: left;
        font-size: 1.1rem;
        font-weight: normal;
        position: relative;
    }

    .agenda-table th:last-child {
        border: 0;
    }

    .agenda-table thead .resize-handle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 3px;
        background-color: var(--clr-primary);
        color: white;
        cursor: col-resize;
    }

    #agendaSearchBtn {
        word-wrap: unset;
    }

    /* ============Scrabble Games Amicales Table============== */

    .scgame-table{
        display: grid;
        border-collapse: collapse;
        min-width: 100%;
        grid-template-columns: minmax(9rem,1fr);
        grid-template-columns: minmax(8rem,1fr);
        grid-template-columns: minmax(9rem,1fr);
        grid-template-columns: minmax(8rem,1fr);
        grid-template-columns: minmax(8rem,1fr);
        grid-template-columns: minmax(9.037rem,1fr);
        ;

    }
    .scgame-table thead,
    .scgame-table tbody,
    .scgame-table tr {
        display: contents;
    }
    .scgame-table th,
    .scgame-table td {
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .scgame-table th {
        position: sticky;
        text-align: left;
        font-size: 1.1rem;
        font-weight: normal;
        position: relative;
    }
    .scgame-table th:last-child {
        border: 0;
    }


    /* ============Scrabble Games Amicales results Table============== */
}


.presentation-video{
    max-width: 800px;
    width: 100%;
}
.video-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*=============JSCOOKIE=========================*/

.js-cookie-consent{
    position: absolute;
    bottom: 0;
    z-index: 9999;
    background-color: #f0eeee;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem 2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.075);
    border-top: 1px solid var( --clr-light-white);
    opacity: 0;
}
.js-cookie-consent-agree{
    border: none;
    border-radius: 0.25rem;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    
}
.js-cookie-consent.show-cookie{
    opacity: 1;
    transition: all 0.4s ease;
}
/* Interclub page */


/* Footer */
footer{
    background-color: var(--clr-primary);
    color: var(--clr-white) !important;
}
footer p{
    color: var(--clr-white) !important;
}
footer .col-lg-2 ul li a{
    font-size: 11px;
    transition: all 200ms ease;
    border-left: 4px solid transparent;
    color: var(--clr-white);
}
footer .col-lg-2 ul li a:hover,
footer .col-lg-2 ul li a:focus{
    padding-left: 5px;
    border-left: 4px solid var(--color-yellow);
    color: var(--color-yellow) !important;

}

/* 
===================== Abonnement page============================== */


.pricing-item .card-header h4{
    padding: 1rem 0;
}
#amateur-lady-box{
    background-color: var(--clr-primary) !important;
}