:root{
    --font-shrikhand:'Shrikhand', cursive;
    --font-worksans:'Work Sans', sans-serif;
    --sm-boxshadow: 0 0.125rem 0.25rem rgba(21, 21, 21, 0.075) !important;
    --color-yellow:#FFC000;
    --text-shad: 0 12px 0rem rgba(61, 60, 60, 0.066) !important;
    --clr-primary:#0d6efd;
    --clr-white:#fff;
    --clr-light-white:#fcfcfc;
    --light-shadow:0px 4px 0px 0 rgba(203, 203, 203, 0.341);
}
/* #app{
    background-color: var(--clr-light-white) !important;
} */
*{
    font-family: var(--font-worksans) !important;
}
a{
    text-decoration: none !important;
}
p{
    text-align: justify !important;
}

.page-title{
    font-family: var(--font-shrikhand) !important;
    color: var(--clr-primary) !important;
}
.bi-person-circle{
    font-size: 1.5rem;
}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-link{
    border: none !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.dropdown-menu.show{
    border: none !important;
    box-shadow: var(--sm-boxshadow);
}
.logo-braine{
    width: 10rem;
}
.title-letter{
    width: 60px; 
}
/* .nav-item .nav-link{
    color:var(--clr-white) !important;
} */

/* .navbar-expand-md{
    box-shadow: var(--sm-boxshadow);
} */

.post-carousel{
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
}
.post-carousel .item{
    scroll-snap-align: start ;
}